<%= stylesheet_link_tag "application.css" %>
<h1><%= @question.name %></h1>

<%= form_for :question, url: questions_path, html: { class: 'changes' } do |f| %>
	<p>
		<%= f.label :text %>
		<%= f.text_area :text %>

	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

<p><%= link_to 'Tillbaka', questions_path %> </p>
