<% @page_title = "Pickadoll | Skapa konto" %>
<%= stylesheet_link_tag "application.css" %>

<h1>Nytt konto</h1>

<%= form_for(:user, url: {controller: 'users', action: 'create'}, html: {class: 'new-user-form'}) do |f| %>
	<p>Användarnamn: <br/> <%= f.text_field :username %> </p>
	<p>Email: <br/> <%= f.text_field :email %> </p>
	<p>Lösenord: <br/> <%= f.password_field :password %> </p>
	<p><%= f.check_box :create_user_permission %> Ge rättigheter att skapa nya användare</p>
	<p>
		<% if @curr_user.create_questionnaire_permission %>
			<%= f.check_box :create_questionnaire_permission %> Ge rättigheter att skapa nya enkäter
		<% else %>
			<%= f.hidden_field :create_questionnaire_permission, value: false %>
		<% end %>
	</p>

	<%= f.submit "Skapa användare" %>
<% end %>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<% if @user.errors.any? %>
	<ul class="create-user-errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
<% end %>

<p>
	<%= link_to "Tillbaka till Enkäter", questionnaires_path %>
</p>
