<%= javascript_tag do %>
	window.questionnaire_id = '<%= @questionnaire.id %>';
<% end %>

<ul class="survey-content draggable-survey-content" >

	<% @categories.each do |c| %>
		<li class="category" data-categoryid="<%= c.id %>" id="category-<%= c.id %>">
			<div class="category-bar moveable" >
				<!-- , html: {multipart: true} -->
				<div class="category-name">
				<%= form_for c, url: questionnaire_category_path(@questionnaire, c), html: {class: 'changes'},
							remote: true do |f| %>
					<%= f.text_field :name %>
				<% end %>
				</div>

				<div class="toolbar">
					<ul>
						<li><a href="#" class="edit-btn">
							<%= image_tag("edit-50.png", alt: "Edit button") %>
						</a></li>
						<li><a href="#" class="delete-cat-btn" data-category-id="<%= c.id %>">
							<%= image_tag("delete.png", alt: "Delete button") %>
						</a></li>
					</ul>
				</div>

				<div class="category-content">
					<div class="category-text-holder">
						<label>Kategoritext</label>
						<%= form_for c, url: questionnaire_category_path(@questionnaire, c), html: {class: 'changes'},
								remote: true do |f| %>

							<%= f.text_area :description %>
						<% end %>
					</div>


				<div class="category-image-holder">
					<!-- A form for the image upload  -->
					<%= form_for c, url: { controller: "categories", action: :upload_image }, html: { method: :post, class: 'catImgUploadForm changes', multipart: true } do |f| %>

						<%= f.hidden_field :id, value: c.id %>

						<%= f.label :category_image, raw('<h3>Bild</h3><p class"label-files"> Använd .png, .jpg eller .gif. Bilderna bör vara mindre än 1 mb för att undvika långa laddtider.</p>') %>
						<%= file_field_tag 'category_image' %>
					<% end %>

					<% if c.image %>
						<% if c.image != 0 %>
						<% @catImg = MediaFile.find(c.image) %>
						<img src="/uploads/<%= @catImg.ref %>" alt="Bild för kategori " class="catImg"/>
						<% end %>
					<% end %>
					<button data-categoryid="<%=c.id %>" <% if c.image == 0 %> style="display:none" <% end %> class="clear-cat-img-btn">
						Rensa
					</button>
				</div>

				<div class="category-audio-holder">
					<div class="categoryAudioForm">
						<%= form_for c, url: { controller: "categories", action: :upload_audio },
							html: { method: :post, class: 'catAudioUploadForm changes', multipart: true } do |f| %>
							<%= f.hidden_field :id, value: c.id %>
							<%= f.label :category_audio, raw('<h3>Ljud</h3><p class"label-files"> Använd .mp3 eller mp4. Filerna bör vara mindre än 1 mb för att undvika långa laddtider.</p>') %>
							<%= file_field_tag 'category_audio' %>
						<% end %>
					</div>

					<% if c.audio and c.audio != 0 %>
						<% @catAud = MediaFile.find(c.audio) %>
						<audio controls="controls" class="audioPlayer" src="/uploads/<%= @catAud.ref %>"></audio>
					<% else %>
						<audio controls="controls" class="audioPlayer" src=""></audio>
					<% end %>
					<button data-categoryid="<%=c.id %>" <% if c.audio == 0 or c.audio.nil? %> style="display:none" <% end %> class="clear-cat-audio-btn">
					Rensa
					</button>
					</div>
				</div>
			</div>

			<ul class="category-questions draggable-category-questions" >
			<% catquest = @questions.where(category_id: c.id) %>

			<% #= render plain: @catquest.inspect %>
			<% # @questions.where(category_id: c.id).each %>
			<% @cat = @categories.where(id: c.id) %>

			<% catquest.each do |q| %>
				<li class="question-bar" data-questionid="<%= q.id %>"
					id="question-bar-<%= q.id %>">

					<div class="question-name moveable">
						<%= form_for q, url: questionnaire_category_question_path(@questionnaire, c.id, q),
							remote: true, html: {multipart: true, class: 'changes'} do |f| %>
							<!-- The questions name  -->
							<%= f.text_field :name %>
						<% end %>

						<div class="drag-indicator"></div>
					</div>
					<!-- Content for other stuff -->
					<div class="toolbar">
						<ul>
							<li><a href="#" class="edit-btn">
								<%= image_tag("edit-50.png", alt: "Edit button") %>
							</a></li>
							<li><a href="#" class="delete-btn" data-question-id="<%= q.id %>">
								<%= image_tag("delete.png", alt: "Delete button") %>
							</a></li>
						</ul>
					</div>

					<div class="question-content">
						<div class="questionText">
							<label>Frågetext</label>
							<%= form_for q, url: questionnaire_category_question_path(@questionnaire, c.id, q),
				remote: true, html: {multipart: true, class: 'changes'} do |f| %>

								<p>
									<%= f.text_area :text %>
								</p>

							<% end %>
						</div>

		<!-- question-image upload and display -->
				<div class="questionImg">
					<div class="questionImgForm">
						<%= form_for q, url: { controller: "questions", action: :upload_image },
								html: { method: :post, class: 'imgUploadForm changes', multipart: true } do |f| %>
						<%= f.hidden_field :id, value: q.id %>
						<%= f.label :image, raw('<h3>Bild</h3><p class"label-files"> Använd .png, .jpg eller .gif. Bilderna bör vara mindre än 1 mb för att undvika långa laddtider.</p>') %>
						<%= file_field_tag 'question_image' %>
						<% end %>
					</div>

					<div class="questionImgWrapper">
						<% if q.question_image %>
						<% if q.question_image != 0 %>
						<% imgFile = MediaFile.find(q.question_image) %>
						<% if imgFile  %>
						<img src="/uploads/<%= imgFile.ref%>" class="qImg">
						<% end %>
						<% end %>
						<% end %>
					</div>
					<button data-questionId="<%=q.id %>" <% if q.question_image == 0 or q.question_image.nil? %> style="display:none" <% end %> class="clear-question-img-btn">
						Rensa
					</button>
				</div>
				<!-- ////////question-image upload and display -->

								<!-- question-audio upload and display -->
				<div class="questionAudio">
					<div class="questionAudioForm">
						<%= form_for q, url: { controller: "questions", action: :upload_audio },
								html: { method: :post, class: 'audioUploadForm changes', multipart: true } do |f| %>

						<%= f.hidden_field :id, value: q.id %>

						<%= f.label :audio, raw('<h3>Ljud</h3><p class"label-files"> Använd .mp3 eller mp4. Filerna bör vara mindre än 1 mb för att undvika långa laddtider.</p>') %>
						<%= file_field_tag 'question_audio' %>

						<% end %>
					</div>

					<div class="questionAudioPlayer">
						<% if q.question_audio and q.question_audio != 0 %>
						<% audio_file = MediaFile.find(q.question_audio) %>
						<audio controls="controls" src="/uploads/<%= audio_file.ref %>"></audio>
						<% else %>
						<audio controls="controls" src=""></audio>
						<% end %>
					</div>
					<button data-questionId="<%=q.id %>" class="clear-question-audio-btn">
						Rensa
					</button>
				</div>
				<!-- /////////////////// question-audio upload and display -->

						<div class="questionOptions">
							<label>Svarsalternativ</label>
							<div class = "questionOptionsForm">
								<%= form_for q, url: questionnaire_category_question_path(@questionnaire, c.id, q),
					remote: true, html: {multipart: true, class: 'changes'} do |f| %>
								<% visible_response_options = @response_options.select { |r| r.question_id == q.id || r.availability || q.response_id == r.id } %>
								<%=
									collection_select(:question, :response_id, visible_response_options, :id, :name, {prompt:true, selected: q.response_id}, {class: 'response_option_select',  'data-question-id' => q.id } )
								%>
						</div>

							<% if q.response_id %>
								<div class="responseOptions">
									<ul>
									<%
										rOpts = ResponseOption.find(q.response_id)
									%>
									</ul>
								</div>

								<% end %>
							<% end %>

							<p>
								<input type="button" value="Redigera svarsalternativ" class="editRespOption">
							</p>
						</div>


						<!--Result category options-->
						<div class="result-category-selection">
							<label>Resultat-kategori</label>
							<div class="result-category-selection-form">
								<%= form_for q, url: questionnaire_category_question_path(@questionnaire, c.id, q),
											remote: true, html: {multipart: true, class: 'changes'} do |f| %>
									<% visible_result_cat_options = @result_categorys.select { |r| r.questionnaire_id == c.questionnaire_id_id } %>
										<%=
											collection_select(:question, :result_cat, visible_result_cat_options, 
												:id, :name, {prompt:true}, {'data-question-id' => q.id } )
										%>
							</div>

							<% if q.response_id %>
								<div class="responseOptions">
									<ul>

									</ul>
								</div>

								<% end %>
									<% end %>

										<p>
											<input type="button" value="Redigera resultat-kategorier" class="showAddResultCat">
										</p>

						</div>
					</div>
				</li>
			<% end %>

			<li>
				<p>
					<button class="addQuestionToCategory" data-categoryid="<%=c.id %>">
					Lägg till fråga
					</button>
					<button class="addExistingQuestionToCategory" data-categoryid="<%=c.id %>">
					Lägg till existerande fråga ...
					</button>
				</p>
			</li>

			</ul>
		</li>
	<!-- End of the categories loop -->
	<% end %>

</ul>

<ul>
	<li>
		<p>
			<button class="addCategory">Lägg till kategori</button>
			<button class="addExistingCategory">Lägg till existerande kategori ...</button>
		</p>
	</li>
</ul>

<!-- A little form for adding new response options -->
<div id="editRespOptForm" class="popupForm">
	<div id="editRespContent" class="popupContent">
		<h2>Svarsalternativ</h2>
		<ul>
			<li>
				<a href="#" class="closeRespPopup">
					<%= image_tag("close_button.png", alt: "Close button") %>
				</a>
			</li>
		</ul>

		<form class='changes'>
			<select id="respOptionsEditDropdown">
				<option value="0">Välj ett svarsalternativ</option>
			</select>

			<input type="button" value="Ny svarsuppsättning" class="newResponseOptionSet" data-questionnaireid="<%= @questionnaire.id %>" />
		</form>

		<div id="respEditDetailed">

		</div>
	</div>
</div>

<!-- A little form for adding new result category -->
<div id="editResultCategories" class="popupForm">
	<div id="editRespContent" class="popupContent">
		<h2>Result-kategorier</h2>
		<ul>
			<li>
				<a href="#" class="close-button">
					<%= image_tag("close_button.png", alt: "Close button") %>
				</a>
			</li>
		</ul>

		<ul id="result-cat-list" class="ui-sortable">
		</ul>
		<form action="#" id="new-result-cat-form">
			<input type="text" id="newResultCatText" >
			<input id="newResultCatInput" data-questionnaireid="<%= @questionnaire.id %>" type="submit" value="Lägg till">
		</form>
	</div>
</div>

<!-- A little form for adding existing categories -->
<div id="addExCatForm" class="popupForm">
	<div id="addExCatContent" class="popupContent">
		<h2>Lägg till existerande kategori</h2>

		<%= search_field_tag 'category-search-field', nil, class: 'filtering-field', placeholder: 'Filtrera' %>

		<ul>
			<li>
				<a href="#" class="closeAddCatPopup">
					<%= image_tag("close_button.png", alt: "Close button") %>
				</a>
			</li>
		</ul>

		<div id="addExistingCategoryDetailed">

		</div>
	</div>
</div>

<!-- A little form for adding existing questions -->
<div id="addExQuestForm" class="popupForm">
	<div id="addExQuestContent" class="popupContent">
		<h2>Lägg till existerande fråga</h2>

		<%= search_field_tag 'question-search-field', nil, class: 'filtering-field', placeholder: 'Filtrera' %>

		<ul>
			<li>
				<a href="#" class="closeAddQuestPopup">
					<%= image_tag("close_button.png", alt: "Close button") %>
				</a>
			</li>
		</ul>

		<div id="addExistingQuestionDetailed">

		</div>
	</div>
</div>

<!-- ONLY TEMPLATE STUFF -->
<!-- Templates for HTML -->
<script type="text/template" id="newQuestionFormTemp">
	<li class="question-bar" data-questionid="[%= id %]" id="question-bar-[%= id %]">
		<div class="question-name moveable">
			<form accept-charset="UTF-8" action="/questionnaires/[%= questid %]/categories/[%= category_id %]/questions/[%= id%]"
				class="edit_question changes" data-remote="true" enctype="multipart/form-data"
				id="edit_question_[%= id %]" method="post">
				<div style="display:none"><input name="_method" type="hidden" value="patch">
				<input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="patch"></div>
				<input type="text" name="question[name]" value="" placeholder="(fråga)">

				<div class="drag-indicator"></div>
			</form>
		</div>

		<div class="toolbar" style="display: inline-block;">
			<ul>
				<li><a href="#" class="edit-btn">
					<%= image_tag("edit-50.png", alt: "Edit button") %>
				</a></li>
				<li><a href="#" class="delete-btn" data-question-id="[%= id %]">
					<%= image_tag("delete.png", alt: "Delete button") %>
				</a></li>
			</ul>
		</div>

		<div class="question-content">
			<div class="questionText">
				<label>Frågetext</label>
				<form accept-charset="UTF-8" action="/questionnaires/[%= questid %]/categories/[%= category_id %]/questions/[%= id %]" class="edit_question changes" data-remote="true" enctype="multipart/form-data" id="edit_question_[%= id %]" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="patch"></div>

				<p>
					<textarea id="question_text" name="question[text]" placeholder="Skriv här"></textarea>
				</p>

				<!-- <input name="commit" type="submit" value="Spara"> -->
				</form>
			</div>

			<div class="questionImgWrapper">
			</div>

			<div class="questionImgForm">
				<form accept-charset="UTF-8" action="/questions/upload_image" class="imgUploadForm changes" enctype="multipart/form-data" id="edit_question_[%= id %]" method="post"><div style="display:none"><input name="utf8" type="hidden" value="✓"></div>

					<input id="question_id" name="question[id]" type="hidden" value="[%= id %]">

					<label for="question_image">Bild</label>
					<input id="question_image" name="question_image" type="file">
				</form>
			</div>

			<div class="questionAudio">
				<div class="questionAudioPlayer">

				</div>

				<div class="questionAudioForm">
					<form accept-charset="UTF-8" action="/questions/upload_audio"
					class="audioUploadForm changes" enctype="multipart/form-data" id="edit_question_[%= id %]" method="post">
						<div style="display:none">
						<input name="utf8" type="hidden" value="✓">
						</div>

						<input id="question_id" name="question[id]" type="hidden" value="[%= id %]">

						<label for="question_audio">Ljud</label>
						<input id="question_audio" name="question_audio" type="file">

					</form>
				</div>
			</div>
			<p>
				<label>Svarsalternativ</label>
			</p>

			<div class="questionOptionsForm">
				<form accept-charset="UTF-8" action="/questionnaires/[%= questid%]/categories/[%= category_id %]/questions/[%= id %]" class="edit_question changes" data-remote="true" enctype="multipart/form-data" id="edit_question_[%= id %]" method="post">
					<div style="display:none">
						<input name="utf8" type="hidden" value="✓">
						<input name="_method" type="hidden" value="patch">
					</div>


					<select class="response_option_select" id="question_response_id" name="question[response_id]" data-question-id="[%= id %]">
						[% _.each(response_options, function (option) { %]
							<option value="[%= option.id %]">[%= option.name %]</option>
						[% }); %]
					</select>

					<!-- <input name="commit" type="submit" value="Spara"> -->
				</form>

				<p></p>
				<div class="responseOptions">
					<ul>
					</ul>
				</div>
				<p>
					<input type="button" value="Redigera svarsalternativ" class="editRespOption">
				</p>
			</div>

			<!-- <p>
				<input type="button" value="Nytt svarsalternativ" id="newRespOption">
			</p> -->
		</div>
	</li>
</script>


<!-- Template for the edit-view of the response options -->
<script type="text/template" id="editResponseOptionsForm">
	<form accept-charset="UTF-8" action="/response_options/edit" class="edit_response_option changes"
	id="edit_response_option" method="post" enctype="multipart/form-data">
		<table>
			<div style="display: none;"><input type="hidden" name="response_option_id" class="response_option_id" value="[%= id %]"></div>
			<p>
				<input class="responseOptionName" type="text" name="response_option_name" value="[%= name %]" >
				<div class="responseOptionAvailability">
					<input type="checkbox" name="response_option_availability" [%= availability ? 'checked' : '' %]>
					<p>Gör denna uppsättning tillgänglig för andra frågor</p>
				</div>
			</p>

			<thead>
				<tr>
					<th>Svarsvärde </th>
					<th>Svarstext</th>
					<th>Ljudfil</th>
					<th>Alternativ</th>
				</tr>
			</thead>

			<tbody id="editResponseOptionTBody">
			[% _.each(options, function (opt) { %]
				<tr class="respOptInput">
					<input type="hidden" value="[%= opt.id %]" name="respValItemId[]">
					<td><input type="text" value="[%= opt.value %]" name="respVal[]" class="small" onKeyPress="return numbersonly(this, event)"></td>
					<td><input type="text" value="[%= opt.label %]" name="respLbl[]" ></td>
					<td>
						<input type="file" name="respAudio[]" >
						<div class="respOptAudio" style="display: inline;"></div>
					</td>
					<td ><a href="#" data-item-id="[%= opt.id %]">Radera</a></td>
				</tr>
			[% }); %]
			</tbody>
		</table>

		<p>
			<input type="button" class="deleteResponseOptionSet" value="Radera" >
			<input type="button" class="addRespOption" value="Lägg till alternativ" >
			<!-- <input type="submit" value="Spara" > -->
		</p>
	</form>
</script>

<!-- Template for the add existing category view -->
<script type="text/template" id="addExistingCategoryForm">
	<form accept-charset="UTF-8" action="/add_existing_category" class="add_existing_category changes"
	id="add_existing_category" method="post" enctype="multipart/form-data">
		<table>
			<thead>
				<tr>
					<th>Namn</th>
					<th>Tillhör enkät</th>
				</tr>
			</thead>

			<tbody id="addExistingCategoryTBody">
			[% _.each(categories, function (cat) { %]
				<tr class="categoriesInput">
					<td><a href="#" data-category-id="[%= cat.id %]">[%= cat.name %]</td>
					<td>[%= cat.quest_name %]</td>
				</tr>
			[% }); %]
			</tbody>
		</table>
	</form>
</script>

<!-- Template for the add existing question view -->
<script type="text/template" id="addExistingQuestionForm">
	<form accept-charset="UTF-8" action="/add_existing_question" class="add_existing_question changes"
	id="add_existing_question" method="post" enctype="multipart/form-data">
		<table>
			<thead>
				<tr>
					<th>Namn</th>
					<th>Tillhör kategori</th>
					<th>Tillhör enkät</th>
				</tr>
			</thead>

			<tbody id="addExistingQuestionTBody">
			[% _.each(questions, function (q) { %]
				<tr class="questionsInput">
					<td><a href="#" data-category-id="[%= categoryId %]" data-question-id="[%= q.id %]">[%= q.name %]</td>
					<td>[%= q.cat_name %]</td>
					<td>[%= q.quest_name %]</td>
				</tr>
			[% }); %]
			</tbody>
		</table>
	</form>
</script>

<!-- Template for new response option -->
<script type="text/template" id="newResponseOptionTemp">
	<tr class="respOptInput">
		<input type="hidden" name="respValItemId[]" value="[%=id %]" > </td>
		<td><input type="text" placeholder="Värde" name="respVal[]" class="small" > </td>
		<td><input type="text" placeholder="Svarstext" name="respLbl[]" > </td>
		<td>
			<input type="file" name="respAudio[]" >
			<div class="respOptAudio" style="display: inline;"></div>
		</td>
		<td></td>
	</tr>
</script>

<!-- Template for a new category -->
<script type="text/template" id="newCategoryTmp">
	<li class="category" data-categoryid="[%= id %]" id="category-[%= id %]">
		<div class="category-bar">
			<form accept-charset="UTF-8" action="/questionnaires/[%= questionnaire_id_id %]/categories/[%= id %]" class="edit_category changes" data-remote="true" id="edit_category_[%= id %]" method="post">
			<div style="display:none">
				<input name="utf8" type="hidden" value="✓">
				<input name="_method" type="hidden" value="patch">
			</div>

			<input id="category_name" name="category[name]" type="text" value="[%= name %]" placeholder="(kategori)">

			</form>

			<div class="toolbar" style="display: inline-block;">
				<ul>
					<li><a href="#" class="edit-btn">
						<%= image_tag("edit-50.png", alt: "Edit button") %>
					</a></li>
					<li><a href="#" class="delete-cat-btn" data-category-id="[%= id %]">
						<%= image_tag("delete.png", alt: "Delete button") %>
					</a></li>

				</ul>
			</div>

			<div class="category-content">
				<div class="category-text-holder">
					<label>Kategoritext</label>
					<form accept-charset="UTF-8" action="/questionnaires/[%= questionnaire_id_id %]/categories/[%= id %]" class="edit_category changes" data-remote="true" id="edit_category_[%= id %]" method="post">
						<div style="display:none">
							<input name="utf8" type="hidden" value="✓">
							<input name="_method" type="hidden" value="patch">
						</div>

						<textarea id="category_description" name="category[description]" placeholder="Skriv här">[%= description %]</textarea>
						<!-- <input name="commit" type="submit" value="Spara"> -->
					</form>
				</div>

				<div class="category-image-holder">

					<!-- A form for the image upload  -->
					<form accept-charset="UTF-8" action="/categories/upload_image" class="catImgUploadForm changes" enctype="multipart/form-data" id="edit_category_[%= id %]" method="post">
						<div style="display:none">
							<input name="utf8" type="hidden" value="✓">
						</div>

						<input id="category_id" name="category[id]" type="hidden" value="[%= id %]">

						<label for="category_category_image">Bild</label>
						<input id="category_image" name="category_image" type="file">
						<!-- <input name="commit" type="submit" value="Ladda upp"> -->

					</form>
				</div>

				<div class="category-audio-holder">
					<div class="categoryAudioForm">
						<form accept-charset="UTF-8" action="/categories/upload_audio" class="catAudioUploadForm changes" enctype="multipart/form-data" id="edit_category_980190980" method="post">
							<div style="display:none">
								<input name="utf8" type="hidden" value="✓">
								<input name="authenticity_token" type="hidden" value="PxbM7sHpVN4B4iujjIRtvoRam3HnQ9W6X7samU90wh0=">
							</div>

							<input id="category_id" name="category[id]" type="hidden" value="[%= id %]">

							<label for="category_category_audio">Ljud</label>
							<input id="category_audio" name="category_audio" type="file">

						</form>
					</div>
				</div>
			</div>
		</div>

		<ul class="category-questions draggable-category-questions ui-sortable">
			<li>
				<p>
					<button class="addQuestionToCategory" data-categoryid="[%= id %]">
					Lägg till fråga
					</button>
					<button class="addExistingQuestionToCategory" data-categoryid="[%= id %]">
					Lägg till existerande fråga ...
					</button>
				</p>
			</li>
		</ul>
	</li>
</script>
	