<% @page_title = "Pickadoll | Dela enkät" %>
<%= stylesheet_link_tag "application.css" %>

<h1><%= "Dela #{@questionnaire.name}" %></h1>

<% if flash[:right_notice] %>
  <div class="notice"><%= flash[:right_notice] %></div>
<% end %>

<%= render 'form' %>

<p>
  <%= link_to 'Tillbaka till enkät', edit_questionnaire_path(@questionnaire.id) %>
</p>
